:root {
	--orange: hsl(26, 100%, 55%);
	--pale-orange: hsl(25, 100%, 94%);

	--very-dark-blue: hsl(220, 13%, 13%);
	--dark-grayish-blue: hsl(219, 9%, 45%);
	--grayish-blue: hsl(220, 14%, 75%);
	--light-grayish-blue: hsl(223, 64%, 98%);
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--black-transparent: hsla(0, 0%, 0%, 0.75);
	--grayish-blue-lighter: hsla(220, 14%, 75%, 0.35);

	--std-width: 2rem;
	--radius: 0.5rem;
}

*::after,
*::before,
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: var(--black);
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0;
}
body {
	font-family: "Kumbh Sans", sans-serif;
	font-size: 1rem;
	color: var(--dark-grayish-blue);
	font-weight: 500;
}
img {
	width: 100%;
}

.bold {
	font-weight: 800;
}
.color_orange {
	color: var(--orange);
}
.color_dark {
	color: var(--very-dark-blue);
}
.color_light_gray {
	color: var(--grayish-blue);
}
.bg_pale_orange {
	background-color: var(--pale-orange);
}

.row {
	display: flex;
	align-items: center;
	gap: 1em;
}
.non_mobile {
	display: none;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.container_body {
	max-width: 30rem;
	margin: auto;
	display: grid;
	grid-template-areas:
		"nav"
		"pictures"
		"description";
	position: relative;
}
.icon {
	height: 2rem;
	width: 2rem;
	padding: 0.5rem;
	fill: var(--dark-grayish-blue);
	cursor: pointer;
}

.cta {
	width: 100%;
	display: flex;
	background-color: var(--orange);
	justify-content: center;
	align-items: center;
	font-weight: 600;
	padding: 1em 0;
	border-radius: var(--radius);
	color: var(--white);
	cursor: pointer;
}
.cta .icon {
	stroke: var(--white);
	fill: var(--white);
}

/*   Lightbox   */
.lightbox {
	position: absolute;
	z-index: 200;
	width: 100%;
	background-color: var(--black-transparent);
}
.container_lightbox {
	width: 50%;
	margin: auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}
.lightbox .alt_pictures {
	width: 50%;
}
.lightbox_picture_in_view {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 55%;
}
.lightbox .current_image {
	border-radius: var(--radius);
}
.lightbox .container_icons {
	position: absolute;
	justify-content: space-between;
	width: 115%;
}
.lightbox .icon {
	display: initial;
	background-color: var(--white);
	width: 3rem;
	height: 3rem;
	padding: 1rem;
	border-radius: 50%;
	stroke: var(--very-dark-blue);
}
.lightbox .icon:hover {
	stroke: var(--orange);
	fill: var(--orange);
	opacity: 100%;
}
.lightbox .icon-close {
	position: absolute;
	top: -3rem;
	right: -1rem;
	border-radius: 0;
	padding: 0.9rem;
	background-color: transparent;
	fill: var(--white);
}

/* Navigation bar */
.nav {
	grid-area: nav;
	height: 4rem;
	background-color: var(--white);
}
.logo {
	width: 9rem;
	height: 1.4rem;
}
.nav_left {
	flex: 5;
}
.nav_middle {
	position: absolute;
	background-color: var(--black-transparent);
	left: 0;
	top: 0;
	left: -100vw;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.nav_middle.in_view {
	transition: 1s step-start;
	left: 0;
}
.nav_middle_inner {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	width: 75%;
	height: inherit;
	padding: 2em;
	background-color: var(--white);
	color: var(--very-dark-blue);
}
.icon-close {
	padding: 0.5rem 0.5rem 0.5rem 0;
	fill: var(--dark-grayish-blue);
}
.nav .icon-cart.pressed {
	fill: var(--very-dark-blue);
}
.nav_link {
	margin-bottom: 1.4rem;
}

.nav_right {
	flex: 1;
}
.nav_right .icon-cart {
	background-color: inherit;
	height: 3rem;
	width: 2rem;
	padding: 0.3rem;
}
.nav_right .avatar {
	width: 50%;
	max-width: 2.5rem;
	border-radius: 50%;
}
.container_icon-cart {
	position: relative;
}
.cart_item_count {
	position: absolute;
	color: var(--white);
	background-color: var(--orange);
	padding: 2px;
	border-radius: 10rem;
	width: 1.37rem;
	height: 1.06rem;
	font-size: 0.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 10%;
	right: -20%;
}

.cart_menu {
	position: absolute;
	top: 4.5rem;
	background-color: var(--white);
	border-radius: var(--radius);
	width: 90%;
	right: 5%;
	z-index: 50;
	box-shadow: 0rem 1rem 3rem -0.9rem var(--grayish-blue);
}
.cart_item_container {
	width: 85%;
	margin: auto;
}
.cart_menu_title {
	width: 100%;
	padding: 1.5rem 8%;
	border-bottom: 1px solid var(--grayish-blue-lighter);
	color: var(--very-dark-blue);
	font-size: 1rem;
}
.cart_menu_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 0rem 2rem;
	min-height: 12.5rem;
	position: relative;
	gap: 01rem;
}
.cart_item.row {
	height: 3rem;
	width: 100%;
	justify-content: space-between;
}
.cart_item_image {
	max-width: 15%;
	height: auto;
	border-radius: calc(0.5 * var(--radius));
	flex: 1;
}
.cart_item_description {
	font-size: 0.9rem;
	font-weight: 400;
	flex: 4;
}
.cart_item_pricing {
	margin-top: 0.4rem;
	gap: 2%;
}
.cart_item_pricing .total_price {
	color: var(--very-dark-blue);
}
.cart_item .icon-delete {
	margin-right: -10px;
}
.cart_menu_notice {
	color: var(--dark-grayish-blue);
	font-weight: 700;
	height: 100%;
}

/* Pictures */
.pictures {
	grid-area: pictures;
}
.pictures .icon {
	stroke: var(--very-dark-blue);
	border-radius: 50%;
	background-color: var(--white);
	width: 2.6em;
	height: 2.6em;
	padding: 0.9em;
}
.picture_in_view {
	display: flex;
	background-position: center;
	background-size: cover;
	min-height: 23rem;
	position: relative;
	height: 38vw;
	overflow: hidden;
}
.current_image {
	position: absolute;
}
.picture_in_view .container {
	justify-content: space-between;
	z-index: 20;
}

/* Description */
.description {
	grid-area: description;
	padding: 2em 0;
	margin-bottom: 4rem;
}
.title {
	margin-bottom: 1.6rem;
}
.title_sub {
	text-transform: uppercase;
	letter-spacing: 0.3ch;
}
.title_main {
	line-height: 1em;
	margin: 0.4em 0 0em;
	width: 20rem;
}

.description_text {
	line-height: 1.6em;
	margin: 0.4em 0 1.5em;
	max-width: 35rem;
}
.pricing {
	justify-content: space-between;
	margin: 0.5rem 0 2rem;
}
.pricing_discounted {
	font-size: 1.6rem;
	gap: 1rem;
}
.discount_percentage {
	font-size: 1rem;
	border-radius: var(--radius);
	padding: 0.2em 0.5em;
}
.pricing_initial {
	text-decoration: line-through;
}
.actions {
	display: flex;
	flex-direction: column;
	gap: 3vw;
}
.quantity {
	width: 100%;
	background-color: var(--light-grayish-blue);
	padding: 1em;
	border-radius: var(--radius);
	justify-content: space-between;
}
.actions .cta {
	box-shadow: 0 1rem 02rem -1rem var(--orange);
}

/* Attribution */
.attribution {
	margin: 1rem;
}

@media screen and (min-width: 1440px) {
	.non_mobile {
		display: initial;
	}
	.row {
		display: flex;
		align-items: center;
		gap: 1em;
	}
	.mobile {
		display: none;
	}
	.container_body {
		width: 80%;
		max-width: 80rem;
		margin: auto;
		grid-template-areas:
			"nav nav "
			"nav nav "
			"container_main container_main "
			"container_main container_main "
			"container_main container_main ";
	}
	.icon:hover,
	.cta:hover {
		opacity: 60%;
	}
	.pointable {
		cursor: pointer;
	}

	/* Navigation Bar */
	.nav {
		grid-column: span 2;
		border-bottom: 1px solid var(--grayish-blue-lighter);
		height: 5rem;
	}
	.nav_left {
		flex: 1 1 24%;
	}
	.nav_middle {
		position: initial;
		height: 100%;
		background-color: transparent;
	}
	.nav_middle_inner {
		background-color: transparent;
		padding: 0;
	}
	.nav_links {
		display: flex;
		height: 100%;
		gap: 2rem;
	}
	.nav_link {
		display: flex;
		align-items: center;
		height: 100%;
		color: var(--dark-grayish-blue);
		font-weight: 500;
		cursor: pointer;
	}
	.nav_right {
		flex: 2 1 15%;
		justify-content: space-between;
	}
	.nav_right .icon-cart {
		width: 4rem;
		height: 4rem;
		padding: 1.25rem;
	}
	/* Hover states */
	.nav_link:hover {
		border-bottom: 2px solid var(--orange);
		color: var(--very-dark-blue);
	}
	.nav .icon-cart:hover {
		fill: var(--very-dark-blue);
		opacity: 100%;
	}
	.nav .avatar:hover {
		border: 2px solid var(--orange);
	}
	.cart_menu {
		height: initial;
		min-height: 15rem;
		right: 3%;
		width: 28%;
		/* outline: 1px solid pink; */
	}
	.cart_menu_content {
		min-height: 11rem;
	}
	.cart_item_count {
		top: 0.8rem;
		right: 0.6rem;
	}

	.container_main {
		grid-column: span 2;
		display: flex;
		align-items: center;
		gap: 12%;
		width: 80%;
		margin: 5rem auto 2rem;
	}

	/*  pictures */
	.pictures {
		flex: 1 1 80%;
		height: 100%;
	}
	.picture_in_view {
		height: 26rem;
		border-radius: var(--radius);
		background-image: none;
		margin: 0 0 1.4rem;
	}
	.current_image {
		position: initial;
	}
	.picture_in_view img {
		border-radius: var(--radius);
		width: 100%;
	}
	.alt_pictures {
		width: 100%;
		justify-content: space-between;
	}
	.thumbnail_container {
		width: 22%;
		overflow: hidden;
		border-radius: var(--radius);
		background-color: var(--white);
	}
	.current_thumbnail {
		border: 2px solid var(--orange);
	}
	.current_thumbnail .thumbnail {
		opacity: 40%;
	}
	.thumbnail {
		width: 100%;
		display: block;
	}
	.thumbnail:hover {
		opacity: 50%;
	}

	/* Description */
	.description {
		flex: 2 1 100%;
		margin: 0 0 1rem;
	}
	.title_main {
		font-size: 3rem;
		width: 100%;
	}
	.pricing.row {
		flex-direction: column;
		align-items: flex-start;
		gap: 0.2em;
		margin: 1rem 0 2rem;
	}
	.actions {
		flex-direction: row;
		height: 3rem;
		gap: 1em;
		width: 95%;
	}
	.actions .quantity {
		flex: 1 1 40%;
	}
	.actions .cta {
		flex: 1 1 60%;
	}
}

.hidden {
	display: none;
}
